$default-float: left !default;

//
// Block-Layout
//
$block-layout-elements: 12 !default;
$block-layout-spacing: 20px !default;

//
// Logo Size
//
$logo-size: 80px !default;
$logo-size-small: 40px !default;

//
// Layout Colors
//
$body-color: #ebebeb !default;

//
//  Primary Colors
//
$primary-color: #665ca7 !default;
$primary-color-dark: $primary-color !default;
$primary-color-darker: $primary-color !default;
$primary-color-light: $primary-color !default;
$primary-color-lighter: $primary-color !default;

//
// Secondary Colors
//
$secondary-color: #61b5a2 !default;
$secondary-color-dark: $secondary-color !default;
$secondary-color-darker: $secondary-color !default;
$secondary-color-light: $secondary-color !default;
$secondary-color-lighter: $secondary-color !default;

//
// Gray colors
//
$gray-base: #69727b !default;
$gray-darker: lighten($gray-base, 13.5%) !default;
$gray-dark: lighten($gray-base, 20%) !default;
$gray: lighten($gray-base, 28%) !default;
$gray-light: lighten($gray-base, 46.7%) !default;
$gray-lighter: lighten($gray-base, 51.5%) !default;


//
// Contextual Colors
//
$info-color: #56acc6 !default;
$info-color-bg: #e7f6fa !default;
$info-color-border: #c8e9f3 !default;

$success-color: #61b5a2 !default;
$success-color-bg: #e9f7f4 !default;
$success-color-border: #ccede5 !default;

$warning-color: #d79b4e !default;
$warning-color-bg: #fdf3e6 !default;
$warning-color-border: #f9e2c4 !default;

$danger-color: #df4660 !default;
$danger-color-bg: #fee5e9 !default;
$danger-color-border: #fdd3da !default;

//
// Text Coloring
//
$white: #fff !default;
$black: #000 !default;
// Text color
$text-color: #474747;
// Headings
$headings-coor: $text-color;
// Coloring
$text-primary-light: $primary-color !default;
$text-primary-dark: $primary-color-darker !default;
$text-secondary-light: $secondary-color-light !default;
$text-secondary-dark: $secondary-color !default;
// Shading
$text-shade-light-primary-opacity: 1 !default;
$text-shade-light-secondary-opacity: 0.7 !default;
$text-shade-light-hint-opacity: 0.3 !default;
$text-shade-dark-primary-opacity: 0.87 !default;
$text-shade-dark-secondary-opacity: 0.54 !default;
$text-shade-dark-hint-opacity: 0.38 !default;

$shadow-distance-1: 0 2px 10px 0 rgba(0, 0, 0, 0.16) !default;
$shadow-distance-2: 0 6px 20px 0 rgba(0, 0, 0, 0.19) !default;
$shadow-distance-3: 0 17px 50px 0 rgba(0, 0, 0, 0.19) !default;
$shadow-distance-4: 0 25px 55px 0 rgba(0, 0, 0, 0.21) !default;
$shadow-distance-5: 0 40px 77px 0 rgba(0, 0, 0, 0.22) !default;

//
// Typeopgraphy
//
$font-family-sans-serif:        'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;

//
// Whitespace
//
$whitespace-root: 3.5px !default;

$whitespace-small-modifier: 2 !default;
$whitespace-base-modifier: 4 !default;
$whitespace-large-modifier: 6 !default;
$whitespace-xlarge-modifier: 8 !default;

//
// Animation
//
$animation-timing-short: 200ms;
$animation-timing-base: 400ms;
$animation-timing-long: 600ms;

$animation-easing-relaxed: ease;
$animation-easing-beziered: cubic-bezier(.7,0,.3,1);

$animation-expand-magic-number: 500px;

//
// Core Layout sizes
//
$core-sidebar-width: 300px !default;
$core-sidebar-logo-height: 50px !default;
$core-topbar-height: 50px !default;
$core-topbar-dropdowns-magic-height-number: 400px;

//
// Page Header
//
$page-header-height: 130px !default;

// Jumbotrons Extended
$jumbotron-inverse-color:			$white !default;
$jumbotron-inverse-bg:				$secondary-color-dark !default;
$jumbotron-inverse-heading-color:	$white !default;
$jumbotron-inverse-link-color:		$secondary-color-light !default;