.form-group {
    margin-top: 15px;
    margin-bottom: 0;

    &:first-of-type {
        margin-top: 0;
    }

    .help-block {
        font-size: 12px;
        @include whitespace($type: margin, $side: top, $size: 3px);
        @include whitespace($type: margin, $side: bottom, $size: 0);
    }
}

.form-inline {
    .form-group {
        margin: 0;
    }
}

.form-control {
    &:focus {
        color: $input-color-focus;
        @include placeholder($input-color-focus);
        background-color: $input-bg-focus;
    }

    &.transparent {
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;
    }
}

.radio, .checkbox {
    @include whitespace($type: margin, $side: vertical, $size: 0);

    label.selected,
    label.selected  {
        color: $brand-primary;
    }

    input[type="radio"],
    input[type="checkbox"] {
        margin: 7px 0 0 0;
    }
}

.input-group-addon {
    min-width: 4.0rem;
}

.control-label {
    font-weight: 600;
    display: block;
}

label {
    cursor: pointer;
}