.core-layout {

}
.core-layout__sidebar {
    min-width: $core-sidebar-width;
    max-width: $core-sidebar-width;
    @include layout($direction: vertical, $wrap: false);

    .side-navigation {
        overflow-x: hidden;
    }

}
.core-layout__content {

}
.core-layout__topbar {
    min-height: $core-topbar-height;
    max-height: $core-topbar-height;
    @include whitespace($type: padding, $side: vertical, $size: 10px);
    @include whitespace($type: padding, $side: horizontal, $size: 15px);
    @include background-color($gray);

}
.core-layout__page {
    @include layout($direction: vertical, $wrap: false);
}

.page-content {
    min-height: 100%;
    @include whitespace($type: padding, $size: 20px);
    @include flex(1);
}

// If we are shoing the enviroment messages, we must make room for shizznickle
body.local,
body.staging {
    .core-layout__sidebar .side-navigation,
    .core-layout__content .page-content {
        @include whitespace($type: padding, $side: bottom, $size: 40px);
    }
}