h1,
.h1 {
  font-weight: 400;
  margin: 1.5rem 0; }
  h1 small,
  .h1 small {
    color: #9ea5ac;
    margin-left: 0.2rem;
    text-transform: none;
    display: inline-block; }
  h1.bordered,
  .h1.bordered {
    padding-bottom: 0.9rem;
    border-bottom: 0.1rem solid #dddddd; }

h2,
.h2 {
  font-weight: 400;
  margin: 1.5rem 0; }
  h2 small,
  .h2 small {
    color: #9ea5ac;
    margin-left: 0.2rem;
    text-transform: none;
    display: inline-block; }
  h2.bordered,
  .h2.bordered {
    padding-bottom: 0.9rem;
    border-bottom: 0.1rem solid #dddddd; }

h3,
.h3 {
  font-weight: 400;
  margin: 1.5rem 0; }
  h3 small,
  .h3 small {
    color: #9ea5ac;
    margin-left: 0.2rem;
    text-transform: none;
    display: inline-block; }
  h3.bordered,
  .h3.bordered {
    padding-bottom: 0.9rem;
    border-bottom: 0.1rem solid #dddddd; }

h4,
.h4 {
  font-weight: 400;
  margin: 1.5rem 0; }
  h4 small,
  .h4 small {
    color: #9ea5ac;
    margin-left: 0.2rem;
    text-transform: none;
    display: inline-block; }
  h4.bordered,
  .h4.bordered {
    padding-bottom: 0.9rem;
    border-bottom: 0.1rem solid #dddddd; }

h5,
.h5 {
  font-weight: 400;
  margin: 1.5rem 0; }
  h5 small,
  .h5 small {
    color: #9ea5ac;
    margin-left: 0.2rem;
    text-transform: none;
    display: inline-block; }
  h5.bordered,
  .h5.bordered {
    padding-bottom: 0.9rem;
    border-bottom: 0.1rem solid #dddddd; }

h6,
.h6 {
  font-weight: 400;
  margin: 1.5rem 0; }
  h6 small,
  .h6 small {
    color: #9ea5ac;
    margin-left: 0.2rem;
    text-transform: none;
    display: inline-block; }
  h6.bordered,
  .h6.bordered {
    padding-bottom: 0.9rem;
    border-bottom: 0.1rem solid #dddddd; }

h1 {
  font-size: 3.6rem;
  line-height: 4.0rem; }

h2 {
  font-size: 3.0rem;
  line-height: 3.4rem; }

h3 {
  font-size: 2.4rem;
  line-height: 2.8rem; }

h4 {
  font-size: 1.8rem;
  line-height: 2.2rem; }

h5 {
  font-size: 1.6rem;
  line-height: 2.0rem; }

h6 {
  font-size: 1.3rem;
  line-height: 1.7rem; }

.selected h1,
.selected .h1 {
  color: #665ca7 !important; }
.selected h2,
.selected .h2 {
  color: #665ca7 !important; }
.selected h3,
.selected .h3 {
  color: #665ca7 !important; }
.selected h4,
.selected .h4 {
  color: #665ca7 !important; }
.selected h5,
.selected .h5 {
  color: #665ca7 !important; }
.selected h6,
.selected .h6 {
  color: #665ca7 !important; }

.panel {
  margin: 2.5rem 0 0;
  border: 0.1rem solid #dddddd; }
  .panel .panel-heading {
    padding: 1.5rem 1.5rem 0;
    border: 0;
    background-color: transparent; }
    .panel .panel-heading.border {
      padding: 1.5rem 0;
      margin: 0 1.5rem;
      border-bottom: 1px solid #dddddd; }
    .panel .panel-heading.boxed {
      padding: 1.5rem;
      border-bottom: 1px solid #dddddd; }
    .panel .panel-heading h3, .panel .panel-heading .panel-title {
      font-size: 2.0rem;
      text-transform: uppercase; }
    .panel .panel-heading h1,
    .panel .panel-heading .h1 {
      color: #191919;
      margin: 0;
      vertical-align: middle;
      display: inline-block; }
    .panel .panel-heading h2,
    .panel .panel-heading .h2 {
      color: #191919;
      margin: 0;
      vertical-align: middle;
      display: inline-block; }
    .panel .panel-heading h3,
    .panel .panel-heading .h3 {
      color: #191919;
      margin: 0;
      vertical-align: middle;
      display: inline-block; }
    .panel .panel-heading h4,
    .panel .panel-heading .h4 {
      color: #191919;
      margin: 0;
      vertical-align: middle;
      display: inline-block; }
    .panel .panel-heading h5,
    .panel .panel-heading .h5 {
      color: #191919;
      margin: 0;
      vertical-align: middle;
      display: inline-block; }
    .panel .panel-heading h6,
    .panel .panel-heading .h6 {
      color: #191919;
      margin: 0;
      vertical-align: middle;
      display: inline-block; }
    .panel .panel-heading .btn {
      margin-left: 1.0rem; }
  .panel .panel-body {
    padding: 1.5rem; }
    .panel .panel-body.no-padding {
      padding: 0; }
    .panel .panel-body .table:first-child {
      margin: 0; }
  .panel.panel-nested {
    border: 0; }
    .panel.panel-nested:first-of-type {
      margin: 0; }
    .panel.panel-nested .panel-heading {
      padding: 0; }
      .panel.panel-nested .panel-heading.border {
        margin: 0;
        padding: 0 0 0.6rem; }

.table {
  margin: 1.5rem 0 0; }
  .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th,
  .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 1.0rem 0.8rem;
    vertical-align: middle; }
  .table.table-form > tbody > tr > td, .table.table-form > tbody > tr > th {
    padding: 1.0rem 1.2rem; }
  .table.table-form > tbody > tr > th {
    font-weight: 600;
    border-width: 0 0.1rem 0 0;
    border-style: solid;
    border-color: #dddddd;
    text-align: right; }
  .table.table-form > tbody > tr > td {
    border: 0; }

.form-group {
  margin-top: 1.5rem;
  margin-bottom: 0; }
  .form-group:first-of-type {
    margin-top: 0; }

.form-control:focus {
  color: #474747;
  background-color: #fafafa; }
  .form-control:focus::-moz-placeholder {
    color: #474747;
    opacity: 1; }
  .form-control:focus:-ms-input-placeholder {
    color: #474747; }
  .form-control:focus::-webkit-input-placeholder {
    color: #474747; }

.input-group-addon {
  min-width: 4.0rem; }

.control-label {
  font-weight: 600;
  display: block; }

.radio label.selected,
.radio label.selected, .checkbox label.selected,
.checkbox label.selected {
  color: #665ca7; }
.radio input[type="radio"],
.radio input[type="checkbox"], .checkbox input[type="radio"],
.checkbox input[type="checkbox"] {
  margin: 7px 0 0 0; }

.form-inline .form-group {
  margin: 0; }

.btn {
  padding: 0.6rem 1.4rem;
  -webkit-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease; }
  .btn > .fa + span {
    margin-left: 3px; }
  .btn.btn-xs {
    font-size: 1.0rem;
    padding: 0.2rem 0.8rem; }
  .btn.btn-sm {
    font-size: 1.2rem;
    padding: 0.4rem 0.8rem; }

.pagination {
  margin: 1.5rem 0 0; }
  .pagination > li > a, .pagination > li span {
    padding: 0.2rem 1.2rem; }
  .pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover,
  .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
    color: #b4b9bf;
    background: #f5f5f6; }

.paginator {
  min-height: 0.1rem;
  line-height: 0;
  overflow: hidden; }

.dropdown .dropdown-toggle .caret {
  margin-left: 0.5rem; }
.dropdown .dropdown-menu .selected {
  color: #ffffff;
  font-weight: 400;
  line-height: 2.5rem;
  padding: 0.4rem 2.0rem;
  background: #665ca7;
  white-space: nowrap;
  display: block; }
.dropdown .dropdown-menu .fa {
  margin-right: 0.8rem; }

.modal.nodes-delete .modal-body .fa {
  margin-right: 0.3rem; }
.modal .modal-footer .btn {
  min-width: 6.5rem; }

.breadcrumb {
  margin: 0;
  border: 1px solid #dddddd;
  background-color: #ffffff; }
  .breadcrumb li {
    color: #b4b9bf; }
    .breadcrumb li .fa {
      margin-right: 3px; }
    .breadcrumb li a {
      color: #b4b9bf;
      text-decoration: none; }
      .breadcrumb li a:hover {
        color: #665ca7; }
    .breadcrumb li:not(:first-child):before {
      content: '›';
      margin: 0 0.5rem;
      display: inline-block; }
    .breadcrumb li:last-child {
      color: #8c949d; }

.alert {
  margin: 2.0rem 0 0; }
  .alert.alert-dismissible {
    padding: 1.0rem 3.5rem 1.0rem 1.5rem; }
    .alert.alert-dismissible .close {
      top: 0.3rem;
      right: -2.0rem; }
  .alert > .fa {
    margin-right: 0.4rem; }

.badge {
  min-width: 3.0rem;
  font-size: 1.1rem;
  padding: 0.5rem 0.6rem;
  background-color: #b4b9bf; }

/**
 * Globals
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #ebebeb; }

#wrapper > .row {
  min-width: 100vw;
  min-height: 100vh;
  display: table; }
  #wrapper > .row #sidebar, #wrapper > .row #container {
    padding-left: 0;
    padding-right: 0;
    vertical-align: top;
    display: table-cell;
    float: none; }

a.nodes-link {
  padding: 0 0.2rem;
  outline: none;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  text-decoration: none; }
  a.nodes-link > span {
    padding: 0 0.2rem;
    position: relative;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    transition: transform 0.3s; }
    a.nodes-link > span:before {
      content: attr(data-hover);
      font-weight: 600;
      position: absolute;
      top: 100%;
      left: 0;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
  a.nodes-link:hover span, a.nodes-link:focus span {
    -webkit-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    transform: translate(0, -100%); }

/**
 * Content
 */
#container .top-bar {
  width: 100%;
  height: 5.0rem;
  background: #b4b9bf; }
  #container .top-bar #userhub, #container .top-bar #language-selector {
    height: inherit;
    margin: 0 1.0rem;
    padding: 0 1.0rem; }
    #container .top-bar #userhub .dropdown-toggle, #container .top-bar #language-selector .dropdown-toggle {
      line-height: 4.8rem;
      font-weight: 600;
      color: #ffffff; }
      #container .top-bar #userhub .dropdown-toggle .fa, #container .top-bar #language-selector .dropdown-toggle .fa {
        margin-right: 4px; }
      #container .top-bar #userhub .dropdown-toggle .caret, #container .top-bar #language-selector .dropdown-toggle .caret {
        margin-left: 5px; }
#container #content {
  padding: 2.5rem; }

/**
 * Sidebar
 */
#sidebar {
  border-right: 0.1rem solid #e0e0e0;
  position: relative;
  background: #ffffff; }
  #sidebar .project-name {
    width: 100%;
    height: 5.0rem;
    padding: 1.0rem;
    background: #8c949d; }
    #sidebar .project-name h1 {
      font-size: 1.7rem;
      line-height: 3.0rem;
      color: #ffffff;
      margin: 0;
      text-align: center;
      text-transform: uppercase;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      display: block; }

/**
 * Navigation
 */
#navigation > ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  #navigation > ul > li {
    border-bottom: 0.1rem solid #e0e0e0;
    /* Submenu */
    /* Selected item */ }
    #navigation > ul > li > a {
      color: #8c949d;
      text-decoration: none;
      position: relative;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: block; }
      #navigation > ul > li > a .icon {
        width: 5.1rem;
        font-size: 1.7rem;
        padding: 1.6rem;
        background: #f5f5f6;
        text-align: center;
        display: inline-block; }
        #navigation > ul > li > a .icon .fa {
          display: block; }
        #navigation > ul > li > a .icon + span {
          font-size: 1.4rem;
          padding: 1.2rem 1.0rem 1.1rem;
          display: inline-block; }
          #navigation > ul > li > a .icon + span:after {
            content: '›';
            position: absolute;
            top: 12px;
            right: 16px; }
      #navigation > ul > li > a .badge {
        position: absolute;
        top: 15px;
        right: 30px; }
      #navigation > ul > li > a:hover {
        color: #665ca7; }
        #navigation > ul > li > a:hover .badge {
          background-color: #665ca7; }
    #navigation > ul > li > ul {
      marign: 0;
      padding: 0 0.8rem;
      border-top: 0.1rem solid #e0e0e0;
      background: #f5f5f6;
      list-style: none;
      display: none; }
      #navigation > ul > li > ul > li {
        border-top: 0.1rem solid #e8e8e8; }
        #navigation > ul > li > ul > li:first-child {
          border-color: transparent; }
        #navigation > ul > li > ul > li > a {
          color: #8c949d;
          margin: 0 0.2rem;
          padding: 1.2rem 1.0rem;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          display: block;
          text-decoration: none; }
          #navigation > ul > li > ul > li > a .fa {
            margin-right: 0.8rem; }
          #navigation > ul > li > ul > li > a:hover {
            color: #665ca7; }
        #navigation > ul > li > ul > li.selected a {
          color: #665ca7; }
    #navigation > ul > li.selected > a {
      color: #665ca7; }
      #navigation > ul > li.selected > a .icon {
        padding: 1.6rem 1.6rem 1.6rem 1.3rem;
        border-left: 0.3rem solid #665ca7; }
    #navigation > ul > li.selected > ul {
      display: block; }
      #navigation > ul > li.selected > ul > li.selected a {
        color: #665ca7; }

/**
 * Pages
 */
#login {
  max-width: 400px;
  -webkit-box-shadow: 0 0 15px 3px rgba(180, 185, 191, 0.4);
  box-shadow: 0 0 15px 3px rgba(180, 185, 191, 0.4); }
  #login .panel-heading {
    padding: 25px 0 20px;
    text-align: center; }
    #login .panel-heading .panel-title {
      font-size: 2.5rem;
      text-align: center;
      text-transform: uppercase; }
      #login .panel-heading .panel-title:after {
        width: 40px;
        height: 2px;
        content: '';
        margin: 15px auto 0;
        background-color: #665ca7;
        display: block; }
  #login .panel-body .checkbox {
    margin-top: 0;
    margin-bottom: 0; }
    #login .panel-body .checkbox input[type='checkbox'] {
      margin-top: 7px; }
  #login .alert {
    margin: 0 0 1.5rem;
    text-align: center; }

/**
 * "Secret" page curl
 */
#alternative-login {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(225deg, transparent 40%, #f3f3f3 50%, #ccc 50%, #bbb 50%, #ddd 62%, #f3f3f3 80%, #fff 100%), #f3f3f3 url("/vendor/nodes/backend/images/nodes.png") top right no-repeat;
  background-size: auto, 62px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all .35s ease; }
  #alternative-login:before, #alternative-login:after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 12.5%;
    bottom: 5.8%;
    width: 70%;
    max-width: 100px;
    max-height: 80px;
    height: 55%;
    box-shadow: 0 12px 15px rgba(0, 0, 0, 0.3);
    transform: skew(10deg) rotate(6deg); }
  #alternative-login:after {
    left: auto;
    right: 5.8%;
    bottom: auto;
    top: 14.16%;
    transform: skew(-15deg) rotate(-84deg); }
  #alternative-login:hover {
    width: 80px;
    height: 80px; }
    #alternative-login:hover:before, #alternative-login:hover:after {
      box-shadow: 0 14px 20px rgba(0, 0, 0, 0.3); }

#capabilities-toggle-slug {
  font-size: 1.2rem;
  margin: 0 0 0 1.0rem;
  display: inline-block; }
  #capabilities-toggle-slug label {
    font-weight: normal;
    cursor: pointer; }
    #capabilities-toggle-slug label.selected {
      color: #665ca7; }
  #capabilities-toggle-slug > input[type="checkbox"] {
    margin: 0.4rem 0.2rem 0 0; }

.capabilities-wrapper .panel-nested .panel-heading {
  padding: 0 0 .6rem 0.8rem; }
  .capabilities-wrapper .panel-nested .panel-heading .checkbox {
    margin: 0 0 0 0.8rem; }
    .capabilities-wrapper .panel-nested .panel-heading .checkbox label {
      min-height: 2.0rem;
      font-size: 1.3rem; }
      .capabilities-wrapper .panel-nested .panel-heading .checkbox label input[type="checkbox"] {
        margin: 0.5rem 0 0 -1.9rem; }
.capabilities-wrapper .panel-nested .capabilities-list > div {
  padding: 0.6rem 0.8rem;
  border-width: 0 0 0.1rem 0.1rem;
  border-style: solid;
  border-color: #dddddd;
  float: left; }
  .capabilities-wrapper .panel-nested .capabilities-list > div:nth-child(even) {
    background: #f5f5f6; }
  .capabilities-wrapper .panel-nested .capabilities-list > div:last-child {
    border-right: 0.1rem solid #dddddd; }
  .capabilities-wrapper .panel-nested .capabilities-list > div .checkbox {
    margin: 0; }
    .capabilities-wrapper .panel-nested .capabilities-list > div .checkbox label {
      min-height: 2.0rem;
      font-size: 1.3rem; }
      .capabilities-wrapper .panel-nested .capabilities-list > div .checkbox label input[type="checkbox"] {
        margin-top: 0.5rem; }
.capabilities-wrapper .panel-nested .capabilities-list > p {
  font-size: 1.3rem;
  font-style: italic;
  margin: 0;
  padding: 2.5rem;
  border-bottom: 0.1rem solid #dddddd; }
.capabilities-wrapper .form-group {
  margin: 2.0rem 0 0; }

@media (max-width: 767px) {
  .capabilities-wrapper .capabilities-list > div {
    width: 100%;
    border-right: 0.1rem solid #dddddd; } }
@media (min-width: 768px) and (max-width: 991px) {
  .capabilities-wrapper .capabilities-list > div {
    width: 50%; }
    .capabilities-wrapper .capabilities-list > div:nth-child(2n) {
      border-right: 0.1rem solid #dddddd; } }
@media (min-width: 992px) {
  .capabilities-wrapper .capabilities-list > div {
    width: 25%; }
    .capabilities-wrapper .capabilities-list > div:nth-child(4n) {
      border-right: 0.1rem solid #dddddd; } }
#translations #translateCreateKey .nav-tabs {
  border: 0; }
  #translations #translateCreateKey .nav-tabs > li {
    margin: 0;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid transparent; }
    #translations #translateCreateKey .nav-tabs > li > a {
      margin: 0;
      border: 0;
      border-radius: 0; }
    #translations #translateCreateKey .nav-tabs > li + li {
      margin: 0; }
    #translations #translateCreateKey .nav-tabs > li:last-child {
      border-bottom-color: #dddddd; }
    #translations #translateCreateKey .nav-tabs > li.active {
      border-top-color: #3d3766;
      border-bottom-color: #3d3766; }
      #translations #translateCreateKey .nav-tabs > li.active > a {
        color: #ffffff;
        background-color: #665ca7; }
      #translations #translateCreateKey .nav-tabs > li.active + li {
        border-top: 1px solid transparent; }
#translations .translation-value:hover {
  color: #665ca7;
  cursor: pointer; }
#translations .translation-value.warning:hover {
  color: #c5822d; }
