.side-navigation,
.side-navigation__sub-navigation {
	@include clearfix;
	@include background-color($white);

	list-style: none;
	margin: 0;
	padding: 0;

	li {
		float: left;
		width: 100%;
	}
}
.side-navigation__logo {
    min-height: $core-sidebar-logo-height;
	max-height: $core-sidebar-logo-height;
    @include whitespace($type: padding, $size: 10px);
    @include background-color($gray-darker);

    h1 {
        font-size: 17px;
        line-height: 30px;
        color: $white;
        margin: 0;
        text-align: center;
        text-transform: uppercase;
    }
}
.side-navigation__heading {
	@include layout();
	@include font-color($secondary-color-light);
	@include whitespace($type: margin, $side: left);
	align-items: center;
	height: 30px;
	font-weight: 500;
	&:not(:first-of-type) {
		@include whitespace($type: margin, $side: top);
	}
}
.side-navigation__item {
	a {
		border-left: 6px solid transparent;
	}
	a, span {
		@include layout();
		@include font-color($white);
		align-items: center;
		height: 50px;



		[class*="fa"] {
			@include font-color($secondary-color-light);
			font-size: 21px;
		}

		[class*="fa-"]:first-of-type {
			@include whitespace($type: margin, $side: right);
			margin-left: 14px; // border-left - margin-right
		}

		&:hover {
			cursor: pointer;
			text-decoration: none;
			[class*="fa"] {
				@include font-color($primary-color);
			}
		}
	}

	&:hover {
		a, span {

		}
	}

	&.active a,
	&.active span,
	&.selected a,
	&.selected span {
		border-color: $primary-color;
		[class*="fa"] {
			@include font-color($primary-color);
		}
	}

	.beta-marker {
		margin-left: 10px;
		@include font-color($danger-color);
	}
}
.side-navigation__sub-navigation .side-navigation__item {
	a, span {
		[class*="fa-"]:first-of-type {
			@include whitespace($type: margin, $side: right);
			margin-left: 34px; // border-left - margin-right
		}
	}
}