.core-layout__topbar {
	@include clearfix;
	@include layout($direction: horizontal);
	align-items: center;

	.dropdown-toggle {
		@include font-color($secondary-color-light);
	}

	.open > .btn.btn-transparent.dropdown-toggle {
		&:hover, &.hover {

		}
		&:focus, &.focus,
		&:active, &.active {
			@include font-color($secondary-color-light);
		}
	}

	.dropdown-features {
		margin-left: auto;
	}

	.top-bar__actions-right {
		@include clearfix;
		margin-left: auto;
		.dropdown {
			float: left;
		}
	}
}
.top-bar__right {
	.dropdown-toggle:hover, .dropdown-toggle.hover,
	.dropdown-toggle:focus, .dropdown-toggle.focus,
	.dropdown-toggle:active, .dropdown-toggle.active,
	.open > .btn.btn-transparent.dropdown-toggle {
		@include font-color(darken($secondary-color-light, 5%));
	}
}


.top-bar {
	@include layout($direction: horizontal);
	@include flex(1);
	height: $core-topbar-height;
}
.top-bar__left {
	@include layout();
	@include flex(1);
	@include whitespace($side: left);
	@include background-color($secondary-color-dark);
	min-width: $core-sidebar-width;
	max-width: $core-sidebar-width;
	align-items: center;

	// On top of the dropdown
	position: relative;
	z-index: $zindex-popover;
}
.top-bar__right {
	@include layout($direction: horizontal);
	@include whitespace($side: horizontal);
	@include flex(2);
	align-items: center;
}

.top-bar a.logo {
	display: block;
	width: $logo-size-small;
	height: $logo-size-small;
}

.top-bar .dropdown {

	[data-toggle="dropdown"] {
		height: 60px;
		border: none;
	}

}