.dropdown {
    .dropdown-toggle {
        .caret {
            margin-left: 0.5rem;
        }
    }

    .dropdown-menu {
        > li {
            > a {
                @include whitespace($type: padding, $side: vertical, $size: 5px);
                @include whitespace($type: padding, $side: horizontal, $size: 15px);
            }
        }
        .selected {
            @include font-color($white);
            font-weight: 400;
            line-height: 25px;
            @include background-color($brand-primary);
            white-space: nowrap;
            display: block;
        }

        .divider {
            @include whitespace($type: margin, $side: vertical, $size: 5px);
        }

        .fa {
            @include whitespace($type: margin, $side: right, $size: 8px);
        }
    }
}