.pagination {
	margin: 15px 0 0;

	> li {
		> a, span {
			padding: 2px 12px;
		}
	}

	> .disabled > a, > .disabled > a:focus, > .disabled > a:hover,
	> .disabled > span, > .disabled > span:focus, > .disabled > span:hover {
		color: $gray;
		background: $gray-lighter;
	}
}

.paginator {
	min-height: 1px;
	line-height: 0;
	overflow: hidden;
}
