.page-header {
    @include clearfix;
    @include whitespace($type: padding, $size: 20px);
    @include whitespace($type: padding, $side: bottom, $size: 0);
	margin: 0;
	border: none;
}

.page-header__top-section,
.page-header__bottom-section {
	@include clearfix;
	@include flex();
	@include layout();

	:nth-child(2) {
		margin-left: auto;
	}
}
.page-header__top-section {
    @include whitespace($type: margin, $side: bottom, $size: 20px);
	:first-child,
	:last-child {
		align-self: flex-start;
	}
}
.page-header__bottom-section {
	@include whitespace($type: margin, $side: top, $size: sm);
	:first-child,
	:last-child {
		align-self: flex-end;
	}
}

.page-header__bottom-section h1 {
	margin: 0;
}