.panel {

    .panel-heading {
        @include whitespace($type: padding, $side: horizontal, $size: 15px);
        @include whitespace($type: padding, $side: top, $size: 15px);
        @include whitespace($type: padding, $side: bottom, $size: 0);
        border: 0;
        background-color: transparent;

        &.border {
            @include whitespace($type: margin, $side: horizontal, $size: 15px);
            @include whitespace($type: padding, $side: top, $size: 15px);
            @include whitespace($type: padding, $side: bottom, $size: 10px);
            @include whitespace($type: padding, $side: horizontal, $size: 0);
            border-bottom: 1px solid #dddddd;
        }

        &.boxed {
            @include whitespace($type: padding, $size: 15px);
            border-bottom: 1px solid #dddddd;
        }

        h3, .panel-title {
            font-size: 20px;
            line-height: 27px;
            @include font-color($text-color);
            text-transform: uppercase;
        }

        @include headings(1, 6) {
            @include font-color($headings-color);
            margin: 0;
            vertical-align: middle;
            display: inline-block;
        }

        .btn {
            @include whitespace($type: margin, $side: left, $size: 10px);
        }
    }

    .panel-body {
        @include whitespace($type: padding, $size: 15px);

        &.no-padding {
            @include whitespace($type: padding, $size: 0);
        }

        .table:first-child {
            @include whitespace($type: margin, $size: 0);
        }
    }

    &.panel-nested {
        border: 0;

        .panel-heading {
            @include whitespace($type: padding, $size: 0);

            &.border {
                @include whitespace($type: margin, $size: 0);
                @include whitespace($type: padding, $size: 0);
                @include whitespace($type: padding, $side: bottom, $size: 6px);
            }
        }
    }
}