#login {
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .panel {
        max-width: 400px;

        .panel-heading {
            padding: 25px 0 20px;
            text-align: center;

            .panel-title {
                font-size: 2.5rem;
                text-align: center;
                text-transform: uppercase;

                &:after {
                    width: 40px;
                    height: 2px;
                    content: '';
                    margin: 15px auto 0;
                    background-color: $brand-primary;
                    display: block;
                }
            }
        }
    }
}
/**
 * "Secret" page curl
 */
#alternative-login {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0; right: 0;
    background:
    linear-gradient(
                    225deg,
                    transparent 40%,
                    #f3f3f3 50%,
                    #ccc 50%,
                    #bbb 50%,
                    #ddd 62%,
                    #f3f3f3 80%,
                    #fff 100%
    ), #f3f3f3 url('/vendor/nodes/backend/images/nodes.png') top right no-repeat;
    background-size: auto, 62px;
    box-shadow : 0 0 10px rgba(0, 0, 0, .5);
    transition: all .35s ease;

    &:before, &:after {
        content: '';
        position: absolute;
        z-index: -1;
        left: 12.5%;
        bottom: 5.8%;
        width: 70%;
        max-width: 100px;
        max-height: 80px;
        height: 55%;
        box-shadow: 0 12px 15px rgba(0, 0, 0, .3);
        transform: skew(10deg) rotate(6deg);
    }

    &:after {
        left: auto;
        right: 5.8%;
        bottom: auto;
        top: 14.16%;
        transform: skew(-15deg) rotate(-84deg);
    }

    &:hover {
        width: 80px;
        height: 80px;

        &:before, &:after {
            box-shadow: 0 14px 20px rgba(0, 0, 0, .3);
        }
    }
}