@include headings(1, 6) {
    font-weight: 400;
    margin: 1.5rem 0;

    small {
        color: $gray-dark;
        margin-left: 0.2rem;
        text-transform: none;
        display: inline-block;
    }

    &.bordered {
        padding-bottom: 0.9rem;
        border-bottom: 0.1rem solid #dddddd;
    }
}

// Support selected states
.selected {
    @include headings(1, 6) {
        color: $brand-primary !important;
    }
}
