@import "tables/responsive";
@import "tables/colors";

.table {
	caption {
        font-size: $font-size-h4;
        font-weight: 600;
        color: $headings-color;
        @include whitespace($type: padding, $side: vertical, $size: 6px);
		@include whitespace($type: padding, $side: horizontal, $size: 10px);
        border-width: 1px 1px 0;
        border-style: solid;
        border-color: $table-border-color;

        &.no-border {
            @include whitespace($type: padding, $side: vertical, $size: 4px);
            @include whitespace($type: padding, $side: horizontal, $size: 8px);
            border: 0;
        }

        span,
        small {
            color: $gray;
            font-weight: 400;
        }
	}

	> thead > tr,
    > tfoot > tr {
		> th,
		> td {
			font-size: $font-size-base;
			border-bottom-width: 1px;
            @include whitespace($type: padding, $side: vertical, $size: 6px);
            @include whitespace($type: padding, $side: horizontal, $size: 10px);
		}
	}

    > tbody {
        > tr {
            > th,
            > td {
                vertical-align: middle;
                @include whitespace($type: padding, $side: vertical, $size: 7px);
                @include whitespace($type: padding, $side: horizontal, $size: 10px);
            }
        }

        .alternate {
            background-color: $table-bg-accent;
        }
    }
}

@include table-contextual('success', $success-color-bg);
@include table-contextual('info', $info-color-bg);
@include table-contextual('warning', $warning-color-bg);
@include table-contextual('danger', $danger-color-bg);